.page__header {
    background: #242424;
    padding-bottom: 20px;
}
.menu__page {
    display: flex;
    align-items: center;
    padding-top: 30px;
    justify-content: space-between;
}
.menu__logo {
}
.logo__img {
    width: 100px;
}
.menu__item {
    margin-top: 19px;
}
.nav__link {
    display: flex;
    gap: 30px;
}
.nav__items {
}
.nav__links {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.menu__social {
    display: flex;
    gap: 10px;
}
.social {
    width: 30px;
}
.menu__itembut {
    color: #ffffff;
    background-color: #9001f5;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-size: 14px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu__itembut:hover {
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    /* float: left; */
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* drop menu __________________ */

.drop_menu_service {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    width: 300px;
    /* height: 100px; */
    background-color: #242424;
    border: 1px solid #fff;
    padding: 20px;
    top: calc(100% + 5px);
    border-radius: 5%;
    left: 50%;
    transform: translateX(-50%);
}
.drop_menu_service::before {
    content: '';
    position: absolute;
    top: -10px; /* Сдвигаем верхнюю грань стрелки наверх */
    left: 50%; /* Расположение по горизонтали в середине */
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 30px 10px 30px; /* Размеры треугольника */
    border-color: #fff transparent #242424 transparent; /* Цвета треугольника */
  }
  .dropdown {
    float: left;
    /* overflow: hidden; */
    /* position: relative; */
}

.nav__linkss {
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 400;
    font-family: 'GraphikTT';
    transition: all 0.3s ease-in-out;
}

.nav__linkss:hover {
    color: #00cdff;
}


/* ---------------------home menu-------------------------- */

.hamburger {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 30px;
    top: 13px;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    width: 44px;
    height: 40px;
    background: #bb86fc;
    border-radius: 20px;
}

.hamburger span {
    height: 3px;
    width: 30px;
    border-radius: 5px;
    display: block;
    background-color: #fff;
    margin-bottom: 5px;
    transition: all 0.4s;
}

.hamburger.hamburger-active {
    display: flex;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.hamburger.hamburger-active span:first-child {
    transform: rotateZ(45deg) translateY(6px);
}

.hamburger.hamburger-active span:last-child {
    transform: rotateZ(-45deg) translateY(-5px);   
}

.hamburger.hamburger-active span:nth-child(2) {
    display: none;
}

.menu__overlay {
    display: block;
    position: fixed;
    left: -150%;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    z-index: 0;
    transition: all 1s;}

.menu__phone {
    width: 50%;
    height: 100vh;
    background-color:#9001f5;
    z-index: 1000;
    padding: 40px;
}

.menu__phone>ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
}

    .menu__itembut {
        border: 10px transparent;
    }


/* media */

@media (max-width: 976px) {
    /* .menu__overlay {
        width: 60vw;
    } */
    .menu__phone {
        width: 60%;
        display: flex;
        justify-content: center;
    }
    .menu__itembut {
        border: 2px solid #fff;
    }
    ul {
        padding-left: 0;
    }
    .nav__link {
        text-align: center;
    }
}
@media (max-width: 667px) {
    .menu__overlay {
        width: 100vw;
    }
    .menu__phone {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .menu__itembut {
        border: 2px solid #fff;
    }
    .nav-link {
        text-align: center;
    }
    ul {
        padding-left: 0;
    }
    .menu__social {
        margin-top: 29px;
    }
}

@media (max-width: 1000px) {
    .header__body {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .header__body .header__menu ul {
        margin-top: 25px;
    }
    .header__sing {
        margin-top: 25px;
    }
    .menu__pages {
        display: flex;
    }
    .sing__item-up {
        margin-right: 0;
    }
    .hamburger {
        display: flex;
    }
    .menu__page {
        display: none;
    }
    .page__header {
        padding-bottom: 0;
    }
    .nav__link {
        display: flex;
        flex-direction: column;
    }
    .menu__buttom {
        margin-top: 40px;
    }
    .logo__img {
        width: 139px;
    }
    .nav__links {
        font-size: 20px;
    }
    
}
 
@media (max-width: 335px) {
    .menu__items {
        flex-direction: column;
    }
    .header__logo-img {
        margin-top: 14px;
    }
    .menu__overlay {
        width: 100%;
        height: 100%;
    }

    /* .menu__itembut {
        padding: 8px 17px 8px 17px;
        font-size: 11px;
    } */
    .menu__buttom {
        margin-top: 25px;

    }
}


.menu__overlay.menu-active {
    /* display: block; */
    left: 0;
}

