.services__page {
    background-image: url(../../images/Services1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    
}
/* .services__page img {
    filter: brightness(50%);
} */
.container {
}
.services__body {
    height: 716px;
    padding-top: 150px;
   
}
.services_body {
     display: flex;
    flex-direction: column;
    transition: all .4s;
    height: 0;
    overflow: hidden;
}
.services__title {
    color: #f9f9f9;
    font-size: 40px;
    font-family: 'Comfortaa',Arial,sans-serif;
    line-height: 1.65;
    font-weight: 600;
    letter-spacing: 2px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding-bottom: 60px;
}
.services__box {
}
.services__target {
    color: #f5f5f5;
    font-size: 18px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 30px;
    background-color: #9001f5;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    padding: 11px;
}
.services__target:hover {
    background: #fff;
    color: #9001f5;
}
.services__smm {
    color: #f5f5f5;
    font-size: 18px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 30px;
    background-color: #9001f5;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    padding: 11px;

}
.services__smm:hover {
    background: #fff;
    color: #9001f5;
}
.reclames__services {
    color: #f5f5f5;
    font-size: 18px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 30px;
    background-color: #9001f5;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    padding: 15px;

}
.reclames__services:hover {
    background: #fff;
    color: #9001f5;
}
.services__seo {
    color: #f5f5f5;
    font-size: 18px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 30px;
    background-color: #9001f5;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    padding: 15px;

}
.services__seo:hover {
    background: #fff;
    color: #9001f5;
}
.sayt__services {
    color: #f5f5f5;
    font-size: 18px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 30px;
    background-color: #9001f5;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    padding: 15px;

}
.sayt__services:hover {
    background: #fff;
    color: #9001f5;
}
.logo__services {
    color: #f5f5f5;
    font-size: 18px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 30px;
    background-color: #9001f5;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    padding: 15px;

}
.logo__services:hover {
    background: #fff;
    color: #9001f5;
}
.one {
    padding-bottom: 30px;display: flex;
    gap: 15px;
}
.two {
    padding-bottom: 30px;
    display: flex;
    margin-right: 200px;
    justify-content: center;
    gap: 15px;
}

.three {
    padding-bottom: 30px;
    display: flex;
    justify-content: right;
    margin-right: 270px;
}
.four {
    display: flex;
    justify-content: right;
}


@media (max-width: 730px) {
   .services__page {
    display: none;
   }
    
}