.casepage__page {
    /* padding-top: 100px; */
}
.container {
}
.casepage__body {
}
.casepage__title {
    color: #000000;
    font-size: 40px;
    font-family: 'Comfortaa',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    line-height: 62px;
    padding-top: 150px;
    padding-bottom: 60px;
}
.internet__case {
}
.internet__title {
    font-family: 'Comfortaa',Arial,sans-serif;
    font-weight: 600;
    color: #242424;
    font-size: 42px;
    line-height: 1.23;
    padding-bottom: 28px;
    padding-top: 80px;
    margin-bottom: 28px;

}
.ones {
        color: rgb(0, 205, 255);
}
.twos {
        color: rgb(144, 1, 245);
}
.internet-case {
    display: flex;
    gap: 30px; flex-wrap: wrap;
    padding-bottom: 30px;
}
.case__articles-cart {
}
.case__articles-construction {
}
.apak {
    height: 428px;
}
.construction__content {
}
.construction__title {
}
.construction__text {
}
.construction__read {
}
.case__services {
}
.services__titles {
    font-family: 'Comfortaa',Arial,sans-serif;
    font-weight: 600;
    color: #242424;
    font-size: 42px;
    line-height: 1.23;
    padding-bottom: 28px;
    padding-top: 80px;
    margin-bottom: 28px;
}
.services-case {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
}
.children__case {

}
.children__title {
    font-family: 'Comfortaa',Arial,sans-serif;
    font-weight: 600;
    color: #242424;
    font-size: 42px;
    line-height: 1.23;
    padding-bottom: 28px;
    padding-top: 80px;
    margin-bottom: 28px;
}
.children-case {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
}

.construction__case {
}
.construction__titles {
     font-family: 'Comfortaa',Arial,sans-serif;
    font-weight: 600;
    color: #242424;
    font-size: 42px;
    line-height: 1.23;
    padding-bottom: 28px;
    padding-top: 80px;
    margin-bottom: 28px;
}
.construction-case {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
}
.furniture__case {
}
.furniture__title {
    font-family: 'Comfortaa',Arial,sans-serif;
    font-weight: 600;
    color: #242424;
    font-size: 42px;
    line-height: 1.23;
    padding-bottom: 28px;
    padding-top: 80px;
    margin-bottom: 28px;
}
.furniture-case {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
}
.restorane__case {
}
.restorane__title {
    font-family: 'Comfortaa',Arial,sans-serif;
    font-weight: 600;
    color: #242424;
    font-size: 42px;
    line-height: 1.23;
    padding-bottom: 28px;
    padding-top: 80px;
    margin-bottom: 28px;
}
.restorane-case {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
}
.webinars__case {
}
.webinars__title {
    font-family: 'Comfortaa',Arial,sans-serif;
    font-weight: 600;
    color: #242424;
    font-size: 42px;
    line-height: 1.23;
    padding-bottom: 28px;
    padding-top: 80px;
    margin-bottom: 28px;
}
.webinars-case {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 60px;
}
.footercase__box {
}
.footercase__title {
    font-family: 'Comfortaa',Arial,sans-serif;
    font-weight: 600;
    color: #242424;
    font-size: 42px;
    line-height: 1.23;
    margin-bottom: 40px;
}
.footercase__text {
    font-family: 'Comfortaa',Arial,sans-serif;
    font-weight: 400;
    color: #242424;
    font-size: 22px;
    line-height: 1.5;
}


@media (max-width: 430px) {
    .casepage__title {
        padding-top: 10px;
        font-size: 30px;
        padding-bottom: 10px;
    }
    .internet__title,
    .services__titles,
    .children__title, 
    .construction__titles,
    .furniture__title,
    .restorane__title,
    .webinars__title {
        padding-top: 20px;
        font-size: 32px;
    }
    .footercase__title {
        font-size: 30px;
        margin-bottom: 10px;
        }
    .footercase__text {
        font-size: 15px;
    }
    .case__articles-construction {
        width: 100%;
    }
    .construction__image {
        width: 100%;
    }
}